/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--pink: #bb7e77;
	--red: #68322c;
	--blue: #163d55;
	--white: #fffcf2;
	--black: #252422;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	color: var(--white);
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	background-color: #252422;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%232a2926' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

	@media (max-width: 800px) {
		padding-bottom: env(safe-area-inset-bottom);
	}
}

body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

ul {
	padding: 0;
}

a {
	color: var(--pink);
	text-decoration: none;

	&:hover {
		color: var(--white);
		transition: color 200ms;
	}
}

button {
	cursor: pointer;
	color: var(--white);
	padding: 0.3rem 0.4rem;
	font-weight: 700;
	border-radius: 8px;
	border: 3px solid var(--white);
	background-color: var(--red);
	font-family: 'Ubuntu', sans-serif;

	@media (max-width: 800px) {
		padding: 0.24rem;
		font-size: 0.6rem;
	}

	&:hover {
		background-color: var(--pink);
		transition: background-color 200ms;
	}

	&:active {
		filter: contrast(0.8);
	}
}

input {
	border: 3px solid var(--pink);
	border-radius: 4px;
	padding: 0.4rem;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
}

::-webkit-scrollbar {
	width: 12px;

	@media (max-width: 600px) {
		width: 6px;
	}
}

::-webkit-scrollbar-track {
	background: var(--red);
}

::-webkit-scrollbar-thumb {
	background-color: var(--pink);
}
